{extend name="common/base" }
{block name="content-body"}
<div class="box">
    <div class="box-header with-border">
        <form class="nd-search-form" action="{$action_list.search}">

            <div class="col-sm-2 nd-search-item">
                {:$keyword_html}
            </div>
        </form>
    </div>
    <div class="box-body table-responsive">
        <table id="menu-tree" class="table table-hover">
            <thead>
            <tr>
                <th>手机</th>
                <th>验证码</th>
                <th>过期时间</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo.mobile}</td>
                <td>{$vo.code}</td>
                <td>{$vo.deadline}</td>
            </tr>
            {/volist}

            </tbody>
        </table>
    </div>
    {if condition="$page"}
    <div class="box-footer">
        {:$page}
    </div>
    {/if}
</div>

{/block}
