{extend name="common/base" }

{block name="content-body"}
<div class="box">
    <div class="box-header with-border">
            <div class="col-sm-12 nd-search-item">
                <a class="btn btn-primary action-add"><i class="fa fa-plus"></i> 新增</a>
                <a class="btn btn-default nd-back pull-right"><i class="fa fa-rotate-left"></i> 返回</a>
            </div>

    </div>
    <div class="box-body table-responsive">
        <table id="menu-tree" class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>房间名称</th>
                <th>类型</th>
                <th>店名</th>
                <th>房间状态</th>
                <th>当前订单ID</th>
                <th>咨询师</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {if count($list)}
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.type}</td>
                <td>{$vo.store}</td>
                <td>{$vo.order_state==1?'<span style="color: #3c8dbc">咨询中</span>':'空闲中'}</td>
                <td>{$vo.order_id}</td>

                <td>{$vo.counselor}</td>
                <td>{:$vo.status_html}</td>
                <td>
                    <div class="nd-action" data-id="{$vo.id}" data-title="{$vo.name}">
                        <a class="action-edit"><i class="fa fa-edit"></i> 编辑</a>
                        | <a class="text-danger action-delete"><i class="fa fa-trash-o"></i> 删除</a>
                    </div>
                </td>
            </tr>
            {/volist}
            {else /}
            <tr>
                <td colspan="7">暂时没有房间，请先添加...</td>
            </tr>

            {/if}
            </tbody>
        </table>
    </div>
    {if condition="$page"}
    <div class="box-footer">
        {:$page}
    </div>
    {/if}
</div>

<div class="modal fade" id="modal-add"></div>
<script type="text/x-template" id="modal-add-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">添加房间({$store.name})</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="form-group">
                        <label>类型</label>
                        <select name="type" v-model="form.type" class="form-control nd-select2 ">
                            <option value="1" selected>标准间</option>
                            <option value="2">其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>房间名称</label>
                        <input type="text" name="name" v-model="form.name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>咨询师</label>
                        <input type="text" name="counselor" v-model="form.counselor" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <input type="text" name="remark" v-model="form.remark" class="form-control"/>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i
                        class="fa fa-remove"></i> 取消
                </button>
                <button type="button" class="btn btn-primary" @click="addRecord"><i class="fa fa-save"></i> 保存</button>
            </div>
        </div>
    </div>
</script>

<div class="modal fade" id="modal-edit"></div>
<script type="text/x-template" id="modal-edit-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">编辑房间</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <input type="hidden" name="id" v-model="form.id"/>
                    <div class="form-group">
                        <label>类型</label>
                        <select name="type" v-model="form.type" class="form-control nd-select2 ">
                            <option value="1">标准间</option>
                            <option value="2">其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>房间名称</label>
                        <input type="text" name="name" v-model="form.name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>咨询师</label>
                        <input type="text" name="counselor" v-model="form.counselor" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <input type="text" name="remark" v-model="form.remark" class="form-control"/>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i
                        class="fa fa-remove"></i> 取消
                </button>
                <button type="button" class="btn btn-primary" @click="saveRecord"><i class="fa fa-save"></i> 保存</button>
            </div>
        </div>
    </div>
</script>

{/block}

{block name="script"}
<script>
    var store_id = '{$store_id}';
    var actionList = JSON.parse('{:$action_list_json}');


    $(function () {

        $(document).on('click', '.action-add', function () {
            CMS.app.recordAdd(actionList.add, {
                deleted: 0,store_id: store_id
            });
        });

        $(document).on('click', '.action-edit', function () {
            var id = $(this).parent().attr('data-id');
            CMS.app.recordEdit(actionList.edit, id);
        });


        $(document).on('click', '.action-delete', function () {
            var id = $(this).parent().attr('data-id'),
                dataTitle = $(this).parent().attr('data-title');
            CMS.app.recordDelete(actionList.delete, id, dataTitle);
        });

    });
</script>
{/block}